DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?sslmode=require"
DIRECT_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?sslmode=require"

MERCADOPAGO_ACCESS_TOKEN="token-mercado-pago"
MERCADOPAGO_WEBHOOK_SECRET="chave-webhook-mercado-pago"

# False gera pix real, true usa mock para teste
MERCADOPAGO_USE_MOCK="false"
APP_URL="https://sua-url.com"
NEXT_PUBLIC_MERCADOPAGO_PUBLIC_KEY="chave-publica-mercado-pago"

ADMIN_EMAIL="seu@email.com"
ADMIN_PASSWORD="sua-senha"
NEXTAUTH_SECRET="chave-aleatoria"

NEXT_PUBLIC_SUPABASE_URL="https://sua-url-do-supabase.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="codigo-supabase"


# Banco de dados de imagem BLOB - Vercel
BLOB_READ_WRITE_TOKEN="token-blob"
BLOB_STORE_ID="id-bucket-blob"
BLOB_WEBHOOK_PUBLIC_KEY="chave-publica-blob"
VERCEL_OIDC_TOKEN="OIDC-para-desenvolvimento"